body {
    margin-bottom: 200px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(158, 162, 168);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

ul.dropdown-menu {
    font-size: 16px;

}

li.nav-item {
    font-size: 18px;
}

li.nav-item {
    padding: 0 15px 0 25px;
}

.main-search-input-field, textarea {
    background-color: gray;
}

.navbar-nav .dropdown-menu .dropdown-item:visited {
    color: rgb(197, 197, 197);
}

.navbar-brand {
    font-size: 24px;
}

img {
    border-radius: 5px;
}

img.imageMain {
    border-radius: 8px;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

footer {
    position: fixed;
    background-color: rgba(33,37,41,255);
    color: rgba(136,146,146,255);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
}

hr.break {
    background-color: rgba(132,76,51,255);
    height: 2px
}
